.navbar {
    background-color: rgb(175, 192, 67);
    color: white;
    border-radius:  0px;
}

.navbar-nav > li > a,
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

section{
    margin-top: 50px;
}


#hero {
    height: 400px;
}
  
  #splash {
    margin-bottom: 25px;
    font-size: 18px;
    text-align: center;
}
  
  /* Features Row */
  
  .feature {
    text-align: center;
} 


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}